<div class="mui-row">
    <div class="mui-col-md-12">
        <h1>Hi seller, edit your property Info before it gets sold!</h1>

        <form method="POST" action="/properties/<%=@property.id%>" class="mui-form">
        <input id="hidden" type="hidden" name="_method" value="patch">

        <legend>Property Address:</legend>
        <div class="mui-textfield">
            <input type="text" name="address" id="address" value="<%= @property.address%>"/>
        </div>

        <legend>Property Picture:</legend>
        <div class="mui-textfield">
            <input type="text" name="picture" id="picture" value="<%= @property.picture%>"/>
        </div>

        <legend>Property Overview:</legend>
        <div class="mui-textfield">
            <textarea name="overview" id="overview"><%= @property.overview%></textarea>
        </div>

        <h3>Property Price:</h3>
            <input type="number" name="price" id="price" value="<%= @property.price%>"/>
                
        <p><button type="submit" class="mui-btn mui-btn--small mui-btn mui-btn--raised mui-btn--primary">Save Changes</button>
        
        </form>

        <form method="post" action="/properties/<%=@property.id%>" class="mui-form">
            <input id="hidden" type="hidden" name="_method" value="delete">
            <button type="submit" class="mui-btn mui-btn--small mui-btn mui-btn--raised mui-btn--danger">Delete this property</button>
        </form>
    </div>
</div>