
<div class="mui-row">
    <div class="mui-col-md-12">
        <h1>My Offers List</h1>

    <ol><% @offers.each do |offer|%>
        <li>
            <h2><span class="mui--divider-right">Property Address &nbsp;</span>
                <a href="/properties/<%=offer.property_id%>"><%= find_property(offer.property_id).address%></a> 
                <%= find_property(offer.property_id).picture%></h2>

            <h4><span class="mui--divider-right">Offer status &nbsp;</span>
                    <%=application_status(offer.applied)%> </h4>

            <% if offer.applied == 0 %>
                <form method="POST" action="/update_offers" class="mui-form">
                <input id="hidden" type="hidden" name="_method" value="patch">

                    <div class="mui-textfield">
                        <br><label>Message to the seller:</label>
                        <textarea name="offer" id="message"><%=offer.message%></textarea>
                    </div>
                    <p><button type="submit" class="mui-btn mui-btn--small mui-btn mui-btn--raised" name="id[<%=offer.id%>]">Send this new message!</button></p>
                </form>

                <form method="post" action="/delete_offers" class="mui-form">
                <input id="hidden" type="hidden" name="_method" value="delete">

                <p><button type="submit" class="mui-btn mui-btn--small mui-btn mui-btn--raised mui-btn--danger" name="id[<%=offer.id%>]">Cancel this offer request</button></p>
                </form>
                
                <% else %>
                <form method="POST" action="/delete_offers" class="mui-form">
                <input id="hidden" type="hidden" name="_method" value="delete">

                    <p><button type="submit" class="mui-btn mui-btn--small mui-btn mui-btn--raised mui-btn--danger" name="id[<%=offer.id%>]">Cancel this offer request</button></p>
                </form>

            <%end%>
        </li>
    <%end%></ol>
    </div>
</div>