<h1>Hi seller, edit Property Information</h1>

<form method="POST" action="/properties/<%= @property.id %>">
<input id="hidden" type="hidden" name="_method" value="patch">

<h2>Property Address: </h2>
    <input type="text" name="address" id="address" value="<%= @property.address%>">
<h2>Property Overview: </h2>
    <input type="text" name="overview" id="overview" value="<%= @property.overview%>">
<h2>Property Price: </h2>
    <input type="number" name="price" id="price" value="<%= @property.price%>">

<input type="submit" id="submit" name="submit" value="update this property">
</form>

<h1>Delete this property</h1>

<form method="POST" action="/properties/ <%= @property.id %>">
<input id="hidden" type="hidden" name="_method" value="delete">

<input type="submit" id="submit" name="submit" value="delete this property">
</form>
