<h1>All Properties Listed For Sale!</h1>

<ul> <% @properties.each do |property| %>
    <li>
        <h2>Property Address: <a href="/properties/<%=property.id%>"> <%= property.address %></a></h2>
        <h2>Seller's First Name: <%= property.seller.first_name%></h2>
        <h2>Seller's Last Name: <%= property.seller.last_name%></h2>
        <h2>Property Overview: <%= property.overview %></h2>
        <h2>Property Price: <%= property.price %></h2>   
    </li>
     <% end %>
</ul>

<% if !current_user.seller %>
    <h2>Click <a href="/offers">here</a>to view a list of existing offers I've made</h2>
<% else %>
    <h2>Click <a href="/sell">here</a>for a list of exising properties I want to sell</h2>
<% end %>