<h1>Property profile</h1>

<h2><%= @property.address %></h2>
<h2><%= @property.overview %></h2>
<h2><%= @property.price %></h2>

<% if current_user.seller && current_user.id === @property.seller.id %>
    <h2><a href="/properties/ <%= @property.id %>/edit">Seller, click here to edit property info</a></h2>

    <h2>Buyer's offer status: </h2>
        <table>
            <thead>
                <tr>
                    <th>No.</th>
                    <th>Buyer Name</th>
                    <th>Offer Status</th>
                    <th>Select: Accepted</th>
                    <th>Select: Declined</th>
                    <th>Confirm Change</th>
                </tr>
            </thead>
            <% @property_offers.each_with_index do |property_offer, index| %>
                <tbody>
                    <tr>
                        <form method="POST" action="/properties/ <%= @property.id%>/offers">
                            <td><%= index.to_i + 1 %></td>
                            <td><%= User.find_by_id(property_offer.user_id).first_name %></td>
                            <td><%= offer_status(property_offer.applied)%></td>
                            <td><input type="radio" name="applied" value="<%=property_offer.id%>_1"
                                <% if property_offer.applied == 1 %> 
                                    checked 
                                <%end%>></td>
                            <td><input type="radio" name="applied" value="<%=property_offer.id%>_2"
                                <% if property_offer.applied == 2 %>
                                    checked 
                                <%end%>></td>
                            <td><input type="submit" name="submit" value="save changes"></td>
                        </form>
                    </tr>
                </tbody>
            <% end %>
        </table>

        <% elsif !current_user.seller %>
            <% if @existing_application %>
                <h2>Application Status: <%= offer_status(@existing_application.applied)%></h2>
                <h3>click<a href="/offer">here</a>for your offer status</h3>
            <% else %>
                <h2>Update application via message to seller: </h2>
                <form method="POST" action="/properties/<%= @property.id %>/application">
                    <label for="message">Message to the seller: </label>
                    <textarea name="message" id="message"></textarea>

                    <input type="submit" name="submit" value="update application">
                </form>
            <% end %>
        <% end %>
